h1 {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
     margin-bottom: 30px;
    background-color: aqua; 
  }
  p {
    font-size: 20px;
    text-align: center;
     margin-bottom: 25px; 
     text-indent: 25px;
     background-color: aquamarine;
  }
  main ol li{
list-style: decimal;
margin-left: 25px;
background-color: rgb(25, 102, 98);
  }
  main ul li{
  
    background-color: rgb(25, 102, 98);
     
      }